<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.skimmer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5E32964E-ECEE-4E09-B145-FAE648D9B645</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65736B63-43AA-4D9B-B6C4-7E615A27E410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8DA8D721-DE4F-4AF9-8418-C44BC2EF4E2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF06EC64-5332-42E5-B391-71A4AED482E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91DA5BF8-64D3-4A25-B331-5D540E5742FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A54BEF3A-4C67-4F64-9299-53235414FC3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Actions for PDF viewer Skim (v. 1.4)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Skimmer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python _magic-args.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sk:bug</string>
				<key>script</key>
				<string>python filter_debug.py</string>
				<key>title</key>
				<string>Debugging Help</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A54BEF3A-4C67-4F64-9299-53235414FC3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sk:set</string>
				<key>subtext</key>
				<string>Set Export Style and Destination</string>
				<key>text</key>
				<string>Skimmer Export Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8DA8D721-DE4F-4AF9-8418-C44BC2EF4E2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript _config.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF06EC64-5332-42E5-B391-71A4AED482E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript action_pdf-splitter.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>30</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>}</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5E32964E-ECEE-4E09-B145-FAE648D9B645</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>split</string>
				<key>text</key>
				<string>Crop and Split open PDF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript action_search-gscholar.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>{</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>91DA5BF8-64D3-4A25-B331-5D540E5742FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract</string>
				<key>text</key>
				<string>Extract data and search Google Scholar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sk</string>
				<key>runningsubtext</key>
				<string>Skimmer is searching...</string>
				<key>script</key>
				<string>python filter_pdf-query.py "{query}"</string>
				<key>subtext</key>
				<string>Search for PDFs</string>
				<key>title</key>
				<string>PDF Query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a Skim {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>skimmer</string>
				<key>runningsubtext</key>
				<string>Skimmer is searching...</string>
				<key>script</key>
				<string>python filter_pdf-query.py "{query}"</string>
				<key>subtext</key>
				<string>Search for PDFs</string>
				<key>title</key>
				<string>PDF Query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65736B63-43AA-4D9B-B6C4-7E615A27E410</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>5E32964E-ECEE-4E09-B145-FAE648D9B645</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>65736B63-43AA-4D9B-B6C4-7E615A27E410</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>8DA8D721-DE4F-4AF9-8418-C44BC2EF4E2C</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>91DA5BF8-64D3-4A25-B331-5D540E5742FD</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>A54BEF3A-4C67-4F64-9299-53235414FC3F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D7060C10-18CB-47C1-8EC2-748B2C413EBD</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>FF06EC64-5332-42E5-B391-71A4AED482E4</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
