<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.skimmer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>36559DEF-C2F0-4906-9331-BB3B39FB7783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>563B8495-5821-44EC-84CC-1477DF0645B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3AB8CB7B-B006-45CE-B0EB-656A9A3FB0C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2786584B-865E-4F7C-84AB-3D91A960C33B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>563B8495-5821-44EC-84CC-1477DF0645B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56BC25AB-68F6-40FB-B2BB-99FFC7ED7E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5E32964E-ECEE-4E09-B145-FAE648D9B645</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65736B63-43AA-4D9B-B6C4-7E615A27E410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AA1BBE4-6DB2-45DF-AEC9-08B979510DCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA7743F9-9C5A-466F-A554-3EA8C149DE5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91DA5BF8-64D3-4A25-B331-5D540E5742FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B47B4E7-E6F2-4AFF-A757-590303119FDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AB8CB7B-B006-45CE-B0EB-656A9A3FB0C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A54BEF3A-4C67-4F64-9299-53235414FC3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6F411DF-DAC0-4C37-AA83-5C80C43CB121</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA1BBE4-6DB2-45DF-AEC9-08B979510DCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D9733BA8-D4D1-45F5-BEFC-04A84CEC5132</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AB8CB7B-B006-45CE-B0EB-656A9A3FB0C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Actions for PDF viewer Skim (v. 2.2.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Skimmer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sk:bug</string>
				<key>script</key>
				<string>python filter_debug.py</string>
				<key>title</key>
				<string>Debugging Help</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A54BEF3A-4C67-4F64-9299-53235414FC3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python test.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import sys
import os
import subprocess
from workflow import Workflow

def main(wf):
	if '{query}' == 'help':
    		annotation = os.path.join(wf.workflowdir, 'skimmer_config_new.pdf')

    		if os.path.isfile(annotation):
        		subprocess.Popen(['open', annotation], stdout=subprocess.PIPE)
    		else:
        		return annotation
	elif '{query}' == 'highlight':
		scpt = wf.workflowfile('set_highlight.scpt')
		process = subprocess.Popen(['osascript', scpt],
                                    stdout=subprocess.PIPE)
        	out = process.communicate()[0]
        	print out.strip()

if __name__ == '__main__':
    wf = Workflow()
    sys.exit(wf.run(main))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AA1BBE4-6DB2-45DF-AEC9-08B979510DCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sk:help</string>
				<key>script</key>
				<string>#!/usr/bin/python
# encoding: utf-8
import sys
import os.path
from workflow import Workflow

def main(wf):
	wf.add_item(u"Open PDF", u"Open Skimmer's Help PDF?", valid=True, arg='help', icon='icons/n_pdf.png')
	wf.add_item(u"Set Highlights", u"Set Highlight Settings", valid=True, arg='highlight', icon='icons/n_folder.png') 

	wf.send_feedback()
		
if __name__ == '__main__':
	wf = Workflow()
	sys.exit(wf.run(main))</string>
				<key>title</key>
				<string>Skimmer's Help</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6F411DF-DAC0-4C37-AA83-5C80C43CB121</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Highlight Settings Saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AA7743F9-9C5A-466F-A554-3EA8C149DE5B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>30</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>}</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5E32964E-ECEE-4E09-B145-FAE648D9B645</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript action_pdf-splitter.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7060C10-18CB-47C1-8EC2-748B2C413EBD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>split</string>
				<key>text</key>
				<string>Crop and Split open PDF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript action_search-gscholar.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>{</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>91DA5BF8-64D3-4A25-B331-5D540E5742FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract</string>
				<key>text</key>
				<string>Extract data and search Google Scholar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2786584B-865E-4F7C-84AB-3D91A960C33B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>27</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>_</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9B47B4E7-E6F2-4AFF-A757-590303119FDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript action_export-notes.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3AB8CB7B-B006-45CE-B0EB-656A9A3FB0C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>export</string>
				<key>text</key>
				<string>Export Skim Annotation</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9733BA8-D4D1-45F5-BEFC-04A84CEC5132</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sk</string>
				<key>runningsubtext</key>
				<string>Skimmer is searching...</string>
				<key>script</key>
				<string>python filter_pdf-query.py "{query}"</string>
				<key>subtext</key>
				<string>Search for PDFs</string>
				<key>title</key>
				<string>PDF Query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a Skim {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>skimmer</string>
				<key>runningsubtext</key>
				<string>Skimmer is searching...</string>
				<key>script</key>
				<string>python filter_pdf-query.py "{query}"</string>
				<key>subtext</key>
				<string>Search for PDFs</string>
				<key>title</key>
				<string>PDF Query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65736B63-43AA-4D9B-B6C4-7E615A27E410</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>URL Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>56BC25AB-68F6-40FB-B2BB-99FFC7ED7E40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sk:copy</string>
				<key>subtext</key>
				<string>Copy URL of current PDF page</string>
				<key>text</key>
				<string>Copy Skimmer URL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36559DEF-C2F0-4906-9331-BB3B39FB7783</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript action_copy-skimmer-url.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>563B8495-5821-44EC-84CC-1477DF0645B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>182ABB39-DD4F-4BD7-AB62-4E30F65E44E0</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>2786584B-865E-4F7C-84AB-3D91A960C33B</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>36559DEF-C2F0-4906-9331-BB3B39FB7783</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>3AB8CB7B-B006-45CE-B0EB-656A9A3FB0C1</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>563B8495-5821-44EC-84CC-1477DF0645B9</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>56BC25AB-68F6-40FB-B2BB-99FFC7ED7E40</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>5E32964E-ECEE-4E09-B145-FAE648D9B645</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>65736B63-43AA-4D9B-B6C4-7E615A27E410</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>8AA1BBE4-6DB2-45DF-AEC9-08B979510DCE</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>8D8F844A-56CC-4762-B5AF-BDFE53D832B6</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>91DA5BF8-64D3-4A25-B331-5D540E5742FD</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>9390085F-3F41-4922-AC8B-1DE5A6DB2B1F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9B47B4E7-E6F2-4AFF-A757-590303119FDE</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>A4C89178-FF0B-46E4-948A-BDD1E4C2A09C</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>A54BEF3A-4C67-4F64-9299-53235414FC3F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA7743F9-9C5A-466F-A554-3EA8C149DE5B</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>C6F411DF-DAC0-4C37-AA83-5C80C43CB121</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D7060C10-18CB-47C1-8EC2-748B2C413EBD</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>D79E9FCE-ED22-4DF9-B0DE-A9C77509606E</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>D9733BA8-D4D1-45F5-BEFC-04A84CEC5132</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>ECC09F9D-F5AF-4752-8F30-53CAEE7BEC4A</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
